In [2]:
# 1 String concatenation
a="Girish"
b="raj"
print(a)
print(b)
print(a,b)
print(a+b)

Girish
raj
Girish raj
Girishraj

In [9]:
# 2 Greatest no between two nos
a,b,c=72,45,99
if (a>b)and(a>c):
    print("a is the largest no")
elif (b>a)and(b>c):
    print("b is largest no")
else:
    print("c is largest no")

c is largest no

In [10]:
# 3 sum of six subject marks and average
print("Enter the six subject marks")
subject1=int(input("Enter Kannada marks "))
subject2=int(input("Enter English marks "))
subject3=int(input("Enter Hindi marks "))
subject4=int(input("Enter Maths marks "))
subject5=int(input("Enter Science marks "))
subject6=int(input("Enter Social marks "))
total=subject1+subject2+subject3+subject4+subject5+subject6
print("Total is ",total)
average=total//6
print("Average is ",average)
percentage=(total/600)*100
print("Percentage is ",percentage)

Enter the six subject marks
Enter Kannada marks 94
Enter English marks 69
Enter Hindi marks 78
Enter Maths marks 37
Enter Science marks 58
Enter Social marks 69
Total is  405
Average is  67
Percentage is  67.5

In [11]:
# 4 Find out given year is leap year or not
year=int(input("Enter the year"))
if (year%4)==0:
    print(year," is leap year")
else:
    print(year," is not leap year")

Enter the year2024
2024  is leap year

In [12]:
# 5 fibonacci program 
def fib(n):
    a,b=0,1
    while a<n:
        print(a,end=' ')
        a,b=b,a+b
fib(int(input("enter nth fibo no ")))

enter nth fibo no 23
0 1 1 2 3 5 8 13 21

In [16]:
# 6 factorial program using while loop
n=int(input("Enter the the no "))
x,fact=1,1
while (x<=n):
    fact=fact*x
    x=x+1
print(fact)

Enter the the no 5
120

In [17]:
# 7 factorial program using recursion
def fact(n):
    if(n>=1):
        return n*fact(n-1)
    else:
        return 1
n=int(input("Enter an integer"))
fact(n)

Enter an integer4

24

In [36]:
# 8 To find a prime no
n=int(input("Enter the integer no "))
if n>1:
    for i in range(2,n//2):
        if(n%i)==0:
            print(n," it is not a prime no")
            break
    else:
        print(n, " it is a prime no")
                    
else:
    print(n,"it is not a prime no")

Enter the integer no 1
1 it is not a prime no

In [42]:
# 9 program to print prime series
start=int(input("Enter the starting no "))
end=int(input("Enter the ending series "))

for number in range(start,end):
    if(number>1):
        for i in range(2,number):
            if(number%i==0):
                break
        else:
            print(number,end=" ")

Enter the starting no 1
Enter the ending series 15
2 3 5 7 11 13

In [47]:
# 10 lists
a =['who','are','you']
print(a)
print(a[:2])
print(a[1:])
print(a[0:])
a[0]='where'
print(a)

['who', 'are', 'you']
['who', 'are']
['are', 'you']
['who', 'are', 'you']
['where', 'are', 'you']

In [54]:
# 11 lists
a=['I','L','O','V','E']
b=['Y','O','U']
c=a+b
print(c)
c=a+a
print(c)

['I', 'L', 'O', 'V', 'E', 'Y', 'O', 'U']
['I', 'L', 'O', 'V', 'E', 'I', 'L', 'O', 'V', 'E']

In [75]:
# 12 lists traverse using for loop
a=['I','L','O','V','E']
for i in range(len(a)):
    print(a[i])
for i in range(len(a)):
    print(a[i],end=" ")

I
L
O
V
E
I L O V E

In [62]:
# 13
a=['I','L','O','V','E']
a.append('you')
print(a)
a[5]='YOU'
print(a)

['I', 'L', 'O', 'V', 'E', 'you']
['I', 'L', 'O', 'V', 'E', 'YOU']

In [64]:
# 14 lists length
a=['I','L','O','V','E']
len(a)

5

In [2]:
# 15 nest lists
a=['I','L','O','V','E']
b=['Y','O','U']
c=[a,b]
print(c)
print(c[0][0])

[['I', 'L', 'O', 'V', 'E'], ['Y', 'O', 'U']]
I

In [1]:
# 16 printing list elements using while loop
a=['I','L','O','V','E']
i=0
while i<len(a):
    print(a[i])
    i=i+1

I
L
O
V
E

In [5]:
# 17 dictionary
mydict={"name":"girish","gender":"male","Ph no":8553333818}
print(mydict)

{'name': 'girish', 'gender': 'male', 'Ph no': 8553333818}

In [8]:
# 18 dictionary 
mydict={"name":"girish","gender":"male","Ph no":8553333818}
print(mydict["name"])
mydict["Ph no"]=9901908422
print(mydict)

girish
{'name': 'girish', 'gender': 'male', 'Ph no': 9901908422}

In [15]:
# 19 Duplicate values will overwrite existing values:
mydict={"name":"girish","gender":"male","Ph no":8553333818,"Ph no":8553333919}
print(mydict)
for i in mydict:
    print(mydict[i])
for i in mydict:
    print(i,mydict[i])

{'name': 'girish', 'gender': 'male', 'Ph no': 8553333919}
girish
male
8553333919
name girish
gender male
Ph no 8553333919

In [19]:
# 20 list data type used in dict
mydict={"name":"girish","gender":"male","Ph no":8553333818,"skills":['c','java','python']}
print(mydict)
print(len(mydict))
for i in mydict:
    print(i,mydict[i])

{'name': 'girish', 'gender': 'male', 'Ph no': 8553333818, 'skills': ['c', 'java', 'python']}
4
name girish
gender male
Ph no 8553333818
skills ['c', 'java', 'python']

In [25]:
# 21 type()
friends=['praveen',2,'raju']
fruits=('apple','banana','cherry')
personalinfo={"name":"Girish","gender":"male","ph no":8553333818}
places={'Bangalore','Mysore','Hubli'}
print(type(friends))
print(friends)
print(type(fruits))
print(fruits)
print(type(personalinfo))
print(personalinfo)
print(type(places))
print(places)

<class 'list'>
['praveen', 2, 'raju']
<class 'tuple'>
('apple', 'banana', 'cherry')
<class 'dict'>
{'name': 'Girish', 'gender': 'male', 'ph no': 8553333818}
<class 'set'>
{'Mysore', 'Bangalore', 'Hubli'}

In [29]:
# 22 tuples unchangeable
skills=('c','java','python')
skills[0]='c++'
print(skills)

TypeError: 'tuple' object does not support item assignment

In [39]:
# 23 tuples using for loop
skills=('c','java','python')
print(skills)
for i in skills:
   print(i)
for i in range(len(skills)):
    print(skills[i],end=",")
print()
print(skills[:1])
print(skills[-2:])

('c', 'java', 'python')
c
java
python
c,java,python,
('c',)
('java', 'python')

In [40]:
# 24 convert the tuples into list to change the item
skills=('c','java','python')
y=list(skills)
y[0]='c++'
skills=tuple(y)
print(skills)

('c++', 'java', 'python')

In [46]:
# 25 unpacking tuples
skills=('c','java','python')
(a,b,c)=skills
print(c)
#demonstration of * 
skills=('c','java','python','sql','html')
(a,b,*c)=skills
print(a)
print(b)
print(c)
skills=('c','java','python','sql','html')
(a,*b,c)=skills
print(a)
print(b)
print(c)

python
c
java
['python', 'sql', 'html']
c
['java', 'python', 'sql']
html

In [51]:
# 26 sets not allow duplicate value
# tuples allow duplicate value
skills=('c','java','python','c')
print(skills)
# lists allow duplicate values
name=['giri','raju','giri']
print(name)
# dictonary not allow duplicate values
personalinfo={"name":"Girish","gender":"male","ph no":8553333818,"ph no":9901908422}
print(personalinfo)
# sets not allow duplicate values
names={'giri','raju','giri'}
print(names)

('c', 'java', 'python', 'c')
['giri', 'raju', 'giri']
{'name': 'Girish', 'gender': 'male', 'ph no': 9901908422}
2

In [2]:
# 27 add items to set
names={'giri','raju','roy'}
name={'pravin','kiran'}
for i in names:
    print(i)
# to add an item
names.add('raghava')
print(names)
# add two sets
name.update(names)
print(name)
# add tuples to set
skills=('c','java','python','c')
name.update(skills)
print(name)
# add dictonary to set
personalinfo={"name":"Girish","gender":"male","ph no":8553333818,"ph no":9901908422}
name.update(personalinfo)
print(name)

giri
roy
raju
{'giri', 'raghava', 'roy', 'raju'}
{'roy', 'pravin', 'kiran', 'giri', 'raju', 'raghava'}
{'raju', 'roy', 'python', 'c', 'pravin', 'kiran', 'giri', 'java', 'raghava'}
{'raju', 'roy', 'python', 'c', 'pravin', 'kiran', 'giri', 'gender', 'java', 'name', 'ph no', 'raghava'}

In [11]:
# 28 to remove elements from set using remove()
names={'giri','raju','roy'}
names.remove('roy')
print(names)
names={'giri','raju','roy'}
# clear method is to make set empty
names.clear()
print(names)
# to delete set using del keyword
del names
# for loop in sets
names={'giri','raju','roy'}
for i in names:
    print(i)

{'giri', 'raju'}
set()
giri
roy
raju

In [19]:
# 29 union() in sets
names={'giri','raju','roy'}
age={25,26,20}
set3=names.union(age)
print(set3)
# intersection() in sets
nam={'giri','raju','teju'}
y=names.intersection(nam)
print(y)
# intersection_update()
nam={'giri','raju','teju'}
names.intersection_update(nam)
print(names)
# symmetric difference
nam={'giri','raju','teju'}
names={'giri','raju','roy'}
z=nam.symmetric_difference(names)
print(z)
# symmetric_difference_update()
nam={'giri','raju','teju'}
names={'giri','raju','roy'}
nam.symmetric_difference_update(names)
print(nam)

{'roy', 20, 'giri', 25, 26, 'raju'}
{'giri', 'raju'}
{'giri', 'raju'}
{'teju', 'roy'}
{'teju', 'roy'}